<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gesture</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            flex-direction: column;
            font-family: Arial, sans-serif;
            text-align: center;
        }
    </style>
</head>
<body>
    <h2>Arrivederci, {{ current_user.userid }}!</h2>
    <h1>Hai completato la sessione di acquisizione.</h1>
    <br>
    <h1>Grazie per la collaborazione.</h1>
</body>
</html>
